<aside class="sidebar">
  <div class="sidebar-inner">
    <div class="person-box">
      <a [routerLink]="['../','home']" class="person">
        <div class="person-picture">
          <img src="../../assets/images/personalphoto.jpg" alt="picture" class="picture">
        </div>
      </a>
    </div>
    <div class="person-content">
      <h1 class="person-name">Rima Baltrūnienė</h1>
      <h2 class="person-position">Waste Water Treatment Plant Project Manager</h2>
    </div>

    <nav class="navigation">
      <ul>
        <li class=""><a href="#">My skills &amp; offer</a></li>
        <li class=""><a href="#">Portfolio</a></li>
        <li class=""><a href="#">Contact</a></li>
        <li class=""><a href="#">About me</a></li>
        <li class=""><a href="#">Personal blog</a></li>
        <li class=""><a href="#">My talks</a></li>
      </ul>
    </nav>

    <div class="social">
      <div class="social-title">Get in touch</div>
      <div class="social-content">
        <a href="mailto:agriukas@gmail.com" class="button" title="mail: agriukas@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://facebook.com/rima.baltruniene.9" class="button" title="facebook: rima.baltruniene.9">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.linkedin.com/in/rima-baltruniene-4a0b8398/" class="button" title="linkedin: rima-baltruniene-4a0b8398">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</aside>